@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

:root {
  --Font-Family: 'Open Sans', sans-serif;
  --btn-bg-clr: #fb5607;
  --bg-color: #f6fff8;
  --text-color: #403d39;
}

body {
  font-family: var(--Font-Family);
  background-color: white;
}

img {
  width: 100%;
  height: auto;
}

/* Navbar */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2rem;
  height: 6rem;
  width: 100%;
  align-items: center;
  position: fixed;
  box-shadow: 0 1px 12px 1px var(--btn-bg-clr);
  z-index: 1;
  background-color: white;
}

.nav-icon img {
  width: 6rem;
}

.nav-right {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.nav-right .link {
  font-size: 1.4rem;
  color: black;
}

.nav-right .link:hover {
  color: var(--btn-bg-clr);
}

.order-link {
  position: relative;
}

.total-quantity {
  position: absolute;
  top: -1.8rem;
  right: 0;
  background-color: var(--btn-bg-clr);
  padding: 0.1rem 0.8rem;
  font-size: 1.5rem;
  border-radius: 50%;
  color: white;
  font-weight: 500;
}

/* Home */

.home {
  width: 100%;
  margin-top: 8rem;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.form {
  padding: 1rem;
  width: 20rem;
  border-radius: 10px;
  background-color: #ffe5ec;
}

.form .form-control label {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
}

.form .form-control input {
  padding: 0.6rem 0.5rem;
  border: none;
  outline: none;
  border-radius: 3px;
  width: 100%;
}

.login-title h2 {
  text-align: center;
}

.log-btn {
  width: 100%;
  margin: 1rem auto;
  text-align: center;
}

.login-btn {
  border: none;
  border-radius: 10px;
  padding: 0.8rem 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
  background-color:var(--btn-bg-clr);
}

.login-btn:hover {
  color: black;
  outline: 2px solid var(--btn-bg-clr);
  background-color: transparent;
}

.home-img img {
  width: 20rem;
  border-radius: 20px;
}

.home-img {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.home-left {
  margin-top: 5rem;
}

.welcome-content h1 {
  font-size: 2.5rem;
}

.login-component {
  margin-top: 2rem;
}

.hot-deals {
  width: 10rem;
  margin-top: 3rem;
  text-align: center;
}
/* Deals */

.deals {
  margin-top: 6rem;
  position: absolute;
}

.deals .title {
  font-size: 2rem;
}

.welcome-note {
  margin-top: 3rem;
  margin-left: 1.5rem;
}

.welcome-note h1 {
  font-size: 1.5rem;
}

/* MenuItems */

.btn-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 2rem;
}

.menu_btn {
  font-size: 0.9rem;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: #ffe5ec;
  cursor: pointer;
}


/* Products */
.section-center {
  width: 90vw;
  margin-top: 2rem;
  margin-left: 6rem;
  display: grid;
  gap: 3rem 2rem;
}

.card-one img {
  width: 15rem;
  height: auto;
  border-radius: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info h4 {
  font-size: 1.5rem;
}

.product-quantity-btn {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1rem 0;
}

.product-quantity-btn p {
  font-size: 1.2rem;
}

.quantity-btn {
  padding: 0.1rem 0.3rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 10px;
  color: var(--btn-bg-clr);
  border: 2px solid var(--text-color);
  cursor: pointer;
}

.quantity-btn:hover {
  background-color: var(--btn-bg-clr);
  color: white;
  transition: 0.3s;
border: 2px solid white;
}

.add-to-cart {
  padding: 0.3rem 0.6rem;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: var(--btn-bg-clr);
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.more-info {
  color: #00a8e8;
  margin-left: 1rem;
}

@media screen and (min-width: 768px) {
  .card-one {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .section-center {
    grid-template-columns: repeat(3, 1fr);
  }

  .card-one {
    display: block;
    margin-top: 1rem;
  }
}

/* Single Products */

.single-product {
  position: absolute;
  text-align: center;
  margin-top: 10rem;
}

.single-img img {
  width: 25rem;
  border-radius: 5px;
}

.desc {
  font-size: 1rem;
  padding: 0.5rem 20rem;
}

.category {
  display: flex;
  gap: 0.2rem;
  width: 100%;
  justify-content: center;
}

.single-product-title {
  font-size: 1.5rem;
}

.single-product-price {
  font-size: 1.2rem;
}

.back-to {
  color:var(--btn-bg-clr);
  padding-top: 1rem;
  font-weight: 600;
}

.back-to span {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-to:hover {
  color: #00a8e8;
}

/* Orders */

.orders {
  width: 100%;
  margin-top: 8rem;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.totals {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 5rem;
}


/* Purchase */

.purchase {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.buy-btn {
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--btn-bg-clr);
  font-weight: 600;
  color: white;
  text-align: center;
}

.buy-btn:hover {
  background-color: transparent;
  transform: translateX(-2px);
  outline: 3px solid var(--btn-bg-clr);
  border-radius: 5px;
  color: var(--text-color);
  transition: 0.4s;
}

.remove-btn {
  margin-left: 0.5rem;
  padding: 0.2rem;
  color: #d62828;
  outline: 2px solid #d62828;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: transparent;
  transition: 0.2s;
  background-color: #d62828;
  color: white;
}

/* Delivery */

.delivery {
  position: absolute;
  width: 100%;
  margin-left: 5rem;
  margin-top: 8rem;
}

.delivery-details {
  position: absolute;
  top: 8rem;
  left: 30rem;
}

.gotodeals {
  color: var(--btn-bg-clr);
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
}

.gotodeals span {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.gotodeals:hover {
  color: #00a8e8;
}

.totals {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-bottom: 1rem;
}
